<!--专业镇 内容页-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= base.name %> - <%= config.title %></title>

  <% include ./block/head.html %>
  <link href="<%= assetsPath %>/IndustrialCluster/css/home.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/index.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/p/home.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/professionaltown.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/p/brandType.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/zhuanyezhen.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/zzsc.css" rel="stylesheet" type="text/css">
  <link href="<%= assetsPath %>/IndustrialCluster/css/electricbusinesspark.css" rel="stylesheet" type="text/css">
</head>
<body>

<% include ./components/header.html %>
<% include ./block/industrial-nav.html %>

<div class="electric-business-park">
    <div class="ban">
      <img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkPhoto1.jpg">
    </div>
    <div class="sch">
      <div class="ti">
        <span class="sc">电商学院</span>
      </div>
      <div class="de">
        <a href="#"><span class="on"></span></a>
        <a href="#"><span class="tw"></span></a>
        <a href="#"><span class="th"></span></a>
        <a href="#"><span class="fo"></span></a>
        <a href="#"><span class="fi"></span></a>
        <a href="#"><span class="si"></span></a>
        <a href="#"><span class="se"></span></a>
        <a href="#"><span class="ei"></span></a>
      </div>
    </div>

    <div class="po">
      <div class="ti">运营推广机构</div>
      <div class="co">
        <div class="le">
          <div class="uni">
          <div class="tl">商业服务</div>
          <div class="ct">运营管理</div>
          <div class="bt">
            <span>联系人：周伟</span>
            <span>电话：020-66347991</span>
			<span>QQ：284905875</span>
			<span>微信：284905875</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">犀牛云网</div>
          <div class="ct">帮助企业建设集手机云网站、PC云网站、APP云网站、微信云网站于一体的移动5核云网站。</div>
          <div class="bt">
            <span>联系人：犀牛云</span>
            <span>电话：020-83598888</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">亿动传媒</div>
          <div class="ct">利用智能的移动广告平台和技术帮助国际品牌及本土品牌通过移动终端与消费者取得实时有效的沟通和市场传播。</div>
          <div class="bt">
            <span>联系人：亿动</span>
            <span>电话：4008-92-9992</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">微播易</div>
          <div class="ct">帮您横跨新浪微博、微信公众账号、朋友圈、腾讯微博等多个平台，找到最佳帐号进行广告信息投放。</div>
          <div class="bt">
            <span>联系人：微播易</span>
            <span>电话：400-0928-000</span>
          </div>
          </div>
          <div class="til"><span class="te">装修设计机构</span></div>
          <div class="uni">
          <div class="tl">广州科盾网络科技有限公司</div>
          <div class="ct">公司综合运用了现代印刷技术、通信技术、信息编码技术，致力于研发新型防伪技术和进行多种防伪技的组合，分析市场需求并提供完整的防伪防窜货及增值服务解决方案。</div>
          <div class="bt">
            <span>联系人：科盾</span>
            <span>电话：020-31331701</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">迪麦互动</div>
          <div class="ct">从新定义了网站设计外包行业，首创0风险合作模式，以全新的视觉理念及出色的用户体验为客户品牌提升附加值，已成功帮助过众多知名企业建立网络品牌形象及电子商务规划！。</div>
          <div class="bt">
            <span>联系人：王经理</span>
            <span>电话：020-28255025</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">翔云网络</div>
          <div class="ct">高端品牌网站建设，企业网站建设、提供优质网站建设设计服务 品牌形象挖掘、梳理、包装、表现与传播，辅助企业实现品牌战略目标的互联网解决方案。</div>
          <div class="bt">
            <span>联系人：向经理</span>
            <span>电话：020-34054519</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">趋向互动传媒</div>
          <div class="ct">致力于为企业提供品牌网站建设、网站推广、网站运营、网络营销、软件开发、电子杂志、互动多媒体广告等服务。</div>
          <div class="bt">
            <span>联系人：项经理</span>
            <span>电话：020-87565204</span>
          </div>
          </div>
              
          <div class="til"><span class="te">产品摄影机构</span></div>
          <div class="uni">
          <div class="tl">广州秋色时尚摄影</div>
          <div class="ct">专业从事模特平面拍摄、摄影培训、服装广告摄影。自成立以来，成功为服装拍摄、商场海报、公司形像照拍摄等提供了高效全方位的服务。</div>
          <div class="bt">
            <span>联系人：邱摄</span>
            <span>电话：020-31331701</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">三色摄影</div>
          <div class="ct">三色包括首饰摄影、珠宝摄影、家具摄影、手袋摄影、皮鞋摄影、五金摄影、机械摄影、家具摄影、手表摄影、音响摄影、服装摄影、化妆品摄影等。</div>
          <div class="bt">
            <span>联系人：三色</span>
            <span>电话：020-84179399</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">广州反本仓摄影</div>
          <div class="ct">专业的广告摄影创作，真对电子商务服务，拍摄大型产品主题广告，商业产品形象定位，淘宝展款拍摄，钻展，大型海报后期处理。</div>
          <div class="bt">
            <span>联系人：仓摄</span>
            <span>电话：020-36212877</span>
          </div>
          </div>
          <div class="uni">
          <div class="tl">广州时光广告摄影</div>
          <div class="ct">我们专注于产品摄影、化妆品摄影、形象模特摄影、服装摄影、建筑楼盘厂房摄影、皮具摄影、食品菜式摄影、五金家电摄影、珠宝手饰摄影等平面广告摄影。</div>
          <div class="bt">
            <span>联系人：时光</span>
            <span>电话：020-29846950</span>
          </div>
          </div>
        </div>
        <div class="ri">
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce1.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce2.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce3.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce5.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce6.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce7.jpg"></a>
          <a href="#"><img src="http://sit.gdp.com/static/IndustrialCluster/images/ElectricBusinessParkIntroduce8.jpg"></a>
        </div>
      </div>
    </div>

    <div class="ins">
      <a href="#"><img src="<%= assetsPath %>/IndustrialCluster/images/ElectricBusinessParkLogo1.jpg"></a>
      <a href="#"><img src="<%= assetsPath %>/IndustrialCluster/images/ElectricBusinessParkLogo2.jpg"></a>
      <a href="#"><img src="<%= assetsPath %>/IndustrialCluster/images/ElectricBusinessParkLogo3.jpg"></a>
      <a href="#" class="ed"><img src="<%= assetsPath %>/IndustrialCluster/images/ElectricBusinessParkLogo4.jpg"></a>
    </div>

</div>

<% include ./components/footer.html %>
</body>
</html>
